// Body
$body-bg: #f8fafc;

// Typography
$font-family-sans-serif: "Poppins", sans-serif;
$font-size-base: 0.9rem;
$line-height-base: 1.6;

// Colors
$blue: #3490dc;
$indigo: #6574cd;
$purple: #9561e2;
$pink: #f66d9b;
$red: #e3342f;
$orange: #f6993f;
$yellow: #ffed4a;
$green: #38c172;
$teal: #4dc0b5;
$cyan: #6cb2eb;

// My Colors
$primary-color: #4aa835;
$second-color: #7ed957;
$gray-color: #666666;
$bg-brand: #386b22;
$bg-body: #fdfdfd;

// Variabel screen
$small: 575.98px;
$medium: 767.98px;
$large: 991.98px;
$extra: 1199.98px;
